body{
    background-color: white;
    font-size: 12px;
}
a:link, a:visited {
    color: gray;
}
a:hover{
    color: gainsboro;
}
p{
    margin: 0;
    padding: 0;
}
h1{
    padding: 0.2em 0.5em;
    margin: 3em auto;
    background: #cccccc;
    box-shadow: 0px 0px 0px 10px #cccccc;
    border: dashed 2px white;
    width: 30%;
    text-align: center;
}

h1 p {
    margin: 0; 
    padding: 0;
}

h2{
    padding: 0.5em 1em;
    margin: 0.5em 0;
    color: #232323;
    background: white;
    border-left: solid 10px #333333;
}
h3{
    margin: 0 -15px 10px -15px;
    padding: 5px 10px;
    background-color: #f55;
    color: white;
    font-size: 14px;
}
.post{
    /* width: 500px;
    margin: 0 auto 15px auto;
    padding: 0 15px 15px 15px;
    background-color: #da7; */

    margin:5em auto;
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    width: 60%;
}

.post:before, .post:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: black;
}
.post:before {left: 10px;}
.post:after {right: 10px;}
.post p {
    margin: 0; 
    padding: 0;
}

.new_post{
    margin: 3em 25em;
}

.post_time{
    margin: 3em 1em;
}

.comment_link{
    text-align: right;
}